/*
 MailWatch for MailScanner
 Copyright (C) 2003-2011  Steve Freegard (steve@freegard.name)
 Copyright (C) 2011  Garrod Alwood (garrod.alwood@lorodoes.com)
 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/


BODY {
 margin: 0px 0px 0px 0px;
 font-family: verdana,  sans-serif;
}


TABLE.mail TH, TABLE.boxtable TH, TABLE.maildetail TH {
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 background-color: #FFA600;
}

TABLE.blackwhitelist {
    width:100%;
    border:0;
}

TD.blackwhitelist {
    width:50%;
    vertical-align:text-top;
}

TABLE.sa_rule_report {
    padding:0;
    width:100%;
}

TABLE.mail TR,TABLE.sophos TR,TABLE.sa_rules_report TR {
    font-size:8pt;
    background-color:#EBEBEB;
}

TABLE.sa_rules_report TH {
    text-align:left;
}

TABLE.mail TR.infected {
    background-color:#B22222;
    color:#FFF;
}

TD.rule_desc {
    text-align:left;
    width:200px;
}

TABLE.mail TD.infected {
    background-color:#B22222;
    width:15px;
}

TABLE.mail TR.spam {
    background-color:#F5BBBB;
    color:#000;
}

TABLE.mail TD.spam {
    background-color:#F5BBBB;
    width:15px;
}

TABLE.mail TR.highspam {
    background-color:#EE6262;
    color:#000;
}

TABLE.mail TD.highspam {
    background-color:#EE6262;
    width:15px;
}

TABLE.mail TR.mcp {
    background-color:#ADD8E6;
    color:#000;
}

TABLE.mail TR.notscanned {
    background-color:#800080;
    color:#FFF;
}

TABLE.mail TD.notscanned {
    background-color:#800080;
    width:15px;
}

TABLE.mail TD.mcp {
    background-color:#ADD8E6;
    width:15px;
}

TABLE.mail TR.highmcp {
    background-color:#00008B;
    color:#FFF;
}

TABLE.mail TD.highmcp {
    background-color:#00008B;
    width:15px;
}

TABLE.mail TR.whitelisted {
    background-color:#90EE90;
    color:#000;
}

TABLE.mail TD.whitelisted {
    background-color:#90EE90;
    width:15px;
}

TABLE.mail TR.blacklisted {
    color:#FFF;
    background-color:#000;
}

TABLE.mail TD.blacklisted {
    background-color:#000;
    width:15px;
}


TABLE.mail, TABLE.maildetail, TABLE.navigation, TABLE.boxtable {
 border: 1px solid black;
}

#menu {

 font-family: Arial, sans-serif;
 font-weight: bold;
 text-transform: uppercase;
 margin: 10px 0;
 padding: 0 0 0 10px;
 list-style-type: none;
 font-size: 13px;
 background: #eee;
 height: 25px;
 -moz-border-radius: 10px; 
 -webkit-border-radius: 10px;
 border-top: 2px solid #eee;
 border-left: 2px solid #eee;
 border-bottom: 2px solid #ccc;
 border-right: 2px solid #ccc;
 }



 #menu li {
 float: left;
 margin: 0;
}

#menu li a {
 text-decoration: none;
 display: block;
 padding: 0 20px;
 line-height: 40px;
 color: #666;
 }



 #menu li a:hover, #menu li.active a {
 background-color: #f5f5f5;
 border-bottom: 2px solid #DDD;
 color: #999;
 }

						

/* Yellow Menu  changed to orange --> AntZero*/

#menu.yellow {
 border-top: 2px solid #000;
 border-left: 2px solid #000;
 border-bottom: 2px solid #000;
 border-right: 2px solid #000;
 background: #FFA600;
  }



 #menu.yellow a {
 text-decoration: none;
 color: #000000;
 }



#menu.yellow li a:hover, #menu.yellow li.active a {
 color: #fff; 
 background: #FFA600;
 border-bottom: 2px solid #000;
 }

 

TD.heading {
 background-color: #FFA600;
 font-weight: bold;
 font-size: 10pt;
}

TD.heading-2 {
 background-color: white;
 font-weight:800;
 font-style: italic;
 font-size: 8pt;
 color:grey;
}


TD.heading-w175 {
 background-color: #FFA600;
 font-weight: bold;
 font-size: 10pt;
 width:175px;
 text-align: right;
 vertical-align: top;
}



TABLE.maildetail TD.detail {
 background-color: #EBEBEB;
 font-size: 8pt;
}



SPAN.yes {
 background-color: red;
 color: white;
 font-weight: bold;
}



SPAN.no {
 background-color: green;
 color: white;
 font-weight: bold;
}



A {
 text-decoration: none;
 color: blue;
}



A:visited {
 text-decoration: none;
 color: blue;
}



A:hover {
    text-decoration: none;
 /*background-color: red;*/
 color: blue;
}



TABLE.boxtable TR {

 
 /*border-collapse: collapse;*/
 border-bottom: 1px solid black;

}



/* Lint */

TD.lint_1 {
 background-color: green;
 color: white;
 text-align: right;
}



TD.lint_2 {
 background-color: yellow;
 color: black;
 text-align: right;
}



TD.lint_3 {
 background-color: orange;
 color: black;
 text-align: right;
}



TD.lint_4 {
 background-color: orangered;
 color: black;
 text-align: right;
}



TD.lint_5 {
 background-color: red;
 color: black;
 text-align: right;
}


/* MSRE */

TABLE.mailwatch TH {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    background-color: #F7CE4A;
}

TABLE.mailwatch TR {
    font-size: 8pt;
    background-color: #ebebeb;
}

TABLE.mailwatch TR.alt {
    font-size: 8pt;
    background-color: #cfccdf;
}

TABLE.mailwatch TD.footer {
    font-size: 9pt;
    background-color: white;
}    

TABLE.mailwatch TR.footer {
    font-size: 9pt;
    background-color: white;
}    

TABLE.mailwatch TD.header {
    font-size: 9pt;
}
    
TABLE.mailwatch TR.header {
    font-size: 9pt;
}

SPAN.status {
    font-size: 8pt;
    color: blue;
}

SPAN.debug {
    font-size: 8pt;
    color: green;
}

SPAN.error {
    font-size: 10pt;
    color: red;
}                 
 
TD.dashblackbox {
    border: 2px dashed black;
    background-color: white; 
    padding: 5px;
}

TD.dashgreybox {
    border: 2px dashed #cccccc;
    background-color: white; 
    padding: 5px;
}


/* navigation */

/*
#ul {
# padding-left: 0;
# margin-left: 1px;
#}


#ul li { 
#display: inline; 
#}


#ul li a, a.navlike {
#  font-family: Arial, Verdana, Helvetica, sans-serif;
#  font-size: 12px;
#  padding: 0.2em 1em;
#  background-color: #ffa042;
#  color: #000;
#  text-decoration: none;
#  border-right: 1px solid #fff;
#}



#ul.navlist li a { float: left; }

#ul li a:hover, ul li #current, a.navlike:hover {
#  background-color: #000;
#  color: #fff;
#}
*/
/* ANTZERO TABLES */

.mail tr td form .noborder tr td {
}


TABLE.antzero TH, TABLE.antzeroboxtable TH, TABLE.antzeromaildetail TH {
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 background-color: #ffa042;
}



TABLE.antzero {
 background-color: #EBEBEB;
 border: 1px solid gray;
}

table.grey {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 12px;
border-width: 0px;
border-spacing: 0px;
border-style: outset;
border-color: gray;
border-collapse: separate;
	
}
.mail tr td form .noborder tr td {
}
/* menu */
.anzeromenutabs{
overflow: hidden;
border-bottom: 1px solid gray; /*underline across bottom of main tabs*/
}

.anzeromenutabs ul{
font: bold 11px Verdana, sans-serif;
margin: 0;
padding: 0;
width: 100%;
list-style: none;
}

.anzeromenutabs li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform: uppercase;
}
/*
.anzeromenutabs a{
float: left;
color: white;
background: #ccc url(images/leftedge.gif) no-repeat left top; /*default background color of tabs, left corner image*/
/*
margin: 0 2px 0 0;
padding: 0 0 4px 3px;
text-decoration: none;
letter-spacing: 1px;
}
*/
.anzeromenutabs a{
font-size:12px;
width:165px;
left:inherit;
float: left;
color: white;
background: #ccc url(../images/leftedge.gif) no-repeat left top; /*default background color of tabs, left corner image*/
/*background-position:left ;*/
margin: 0 1px 0 0;
padding: 5px 0 0 5px;
height: 20px;
text-transform: uppercase;
text-decoration: none;
text-align:center;
/*letter-spacing: 1px;*/
font-family: Verdana, sans-serif;
font-style: normal;
font-weight: bold;
font-variant: normal;
}

.anzeromenutabs a:link, .anzeromenutabs a:visited, .anzeromenutabs a:active{
color: white;
}

.anzeromenutabs a span{
float: left;
display: block;
/*background: transparent url(images/rightedge.gif) no-repeat right top; /*right corner image*/
/*padding: 7px 9px 3px 6px;*/
cursor: pointer;
}

.anzeromenutabs a span{
float: none;
}


.anzeromenutabs a:hover{
background-color: #FFA600; /*background color of tabs onMouseover*/
color: white;
}

.anzeromenutabs a:hover span{
background-color: transparent;
}

/* Sub level menus*/
.anzeromenutabs ul li ul{
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0; /*sub menu background color */
	visibility: hidden;
}

/* Sub level menu links style */
.anzeromenutabs ul li ul li a{
	padding: 6px;
	padding-right: 8px;
	margin: 0; /*sub menu background color */
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000;
	background-color: #FF9;
}

.anzeromenutabs ul li ul li a span{
}

.anzeromenutabs ul li ul li a:hover{ /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px; 
	background-color: #9CF;
	color: #FFF;
}
/* */

/* menu 2*/
.anzerotabs{
overflow: hidden;
border-bottom: 1px solid gray; /*underline across bottom of main tabs*/
}

.anzerotabs ul{
font: bold 10px Verdana, sans-serif;
margin: 0;
padding: 0;
width: 100%;
list-style: none;
}

.anzerotabs li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform: uppercase;
}


.anzerotabs a{
	float: left;
	color: white; /*default background color of tabs, left corner image*/
	margin: 0 1px 0 0;
	padding: 0 0 4px 3px;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #0C0;
	background-repeat: no-repeat;
	background-position: left top;
}

.anzerotabs a:link, .anzerotabs a:visited, .anzerotabs a:active{
color: white;
}

.anzerotabs a span{
float: left;
display: block;
background: transparent no-repeat right top; /*right corner image*/
padding: 7px 9px 3px 6px;
cursor: pointer;
}

.anzerotabs a span{
float: none;
}


.anzerotabs a:hover{
background-color:  #FFA600; /*background color of tabs onMouseover*/
color: white;
}

.anzeroutabs a:hover span{
	background-color: transparent;
}

/* Sub level menus*/
.anzerotabs ul li ul{
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	/*background: #c76023; /*sub menu background color */
	visibility: hidden;
}

/* Sub level menu links style */
.anzerotabs ul li ul li a{
	font: normal 10px Verdana;
	padding: 6px;
	padding-right: 8px;
	margin: 0;
	background-color: #CCC;
}

.anzerotabs ul li ul li a span{
background: #c76023; /*sub menu background color */
}

.anzerotabs ul li ul li a  a:hover{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #090;
	color: #FFF;
}
/* menu 3*/
.anzerotabs{
overflow: hidden;
border-bottom: 1px solid gray; /*underline across bottom of main tabs*/
}

.anzerotabs2 ul{
font: bold 10px Verdana, sans-serif;
margin: 0;
padding: 0;
width: 100%;
list-style: none;
}

.anzerotabs2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform: uppercase;
}


.anzerotabs2 a{
	float: left;
	color: white;
	margin: 0 1px 0 0;
	padding: 0 0 4px 3px;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #F30;
	background-repeat: no-repeat;
	background-position: left top;
}

.anzerotabs2 a:link, .droplinetabs a:visited, .droplinetabs a:active{
color: white;
}

.anzerotabs2 a span{
float: left;
display: block;
/*background: transparent url(rightedge.gif) no-repeat right top; /*right corner image*/
background: transparent  no-repeat right top;
padding: 7px 9px 3px 6px;
cursor: pointer;
}

.anzerotabs2 a span{
float: none;
}


.anzerotabs2 a:hover{
	background-color: #FFA600; /*background color of tabs onMouseover*/
	color: white;
}

.anzerotabs2 a:hover span{
	background-color:  #FFA600;
}

/* Sub level menus*/
.anzerotabs2 ul li ul{
position: absolute;
z-index: 100;
left: 0;
top: 0;
background: #c76023; /*sub menu background color */
visibility: hidden;
}

/* Sub level menu links style */
.anzerotabs2 ul li ul li a{
font: normal 10px Verdana;
padding: 6px;
padding-right: 8px;
margin: 0;
background: #c76023; /*sub menu background color */
}

.anzerotabs2 ul li ul li a span{
background: #c76023; /*sub menu background color */
}

.anzerotabs2 ul li ul li a:hover{ /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
background: #714421;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}
/* */


select {
width: 200px;

}

select.small {
width: 50px;

}

select.small2 {
width: 75px;

}

select.medium {
width: 150px;

}

select.medium2 {              
width: 100px;

}

select.spfselect {
width: 125px;
}       

select.spfselect2 {
width: 140px;

}

select.myselect {
width: 295px;

}            

OPTION.red{
	background-color:#F00;
	color:white
}
OPTION.white{background-color:white; color:maroon
} 

div.errorMsg {
    font-family: arial, helvetica;
    font-size: 14pt;
    font-weight: bold;
    color: #FF0000;
}

div.error {
   font-family: arial, helvetica;
    font-weight: bold;
    color: #FF0000;
}

.alert { color: red; }
h1 { font-size: 20px; }
h2 { font-size: 16px; }

/* */
.maintabs{
width: 100%;
overflow: hidden;
border-bottom: 1px solid black; /*bottom horizontal line that runs beneath tabs*/
}

.maintabs ul{
margin: 0;
padding: 0;
padding-left: 0; /*offset of tabs relative to browser left edge*/
font: bold 12px Verdana;
list-style-type: none;
}

.maintabs li{
display: inline;
margin: 0;
}

.maintabs li a{
float: left;
display: block;
text-decoration: none;
text-transform: uppercase;
margin: 0;
padding: 7px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: white;
background: #414141; /*background of tabs (default state)*/
background-color: #999999;
}

.maintabs li a:visited{
color: white;
}

.maintabs li a:hover, .maintabs li.selected a{
background: black; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
background-color: #FFA600;
text-decoration: none;
}

/* */
.subtabs{
width: 100%;
overflow: hidden;
border-bottom: 1px solid black; /*bottom horizontal line that runs beneath tabs*/
}

.subtabs ul{
margin: 0;
padding: 0;
padding-left: 0; /*offset of tabs relative to browser left edge*/
font: bold 12px Verdana;
list-style-type: none;
}

.subtabs li{
display: inline;
margin: 0;
}

.subtabs li a{
float: left;
display: block;
text-decoration: none;
text-transform: uppercase;
margin: 0;
padding: 7px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: white;
background: #0C0; /*background of tabs (default state)*/
background-color: #0C0;
background-repeat: no-repeat;
}

.subtabs li a:visited{
color: white;
}

.subtabs li a:hover, .subtabs li.selected a{
background: black; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
background-color: #FFA600;
text-decoration: none;
}






