<br />-- 
<br>English Version:
<br>
<br />This message has been scanned for viruses and
<br />dangerous content by
<a href="http://www.EMFABox.info/"><b>EMFABox</b></a>, and is
<br />believed to be clean.
<br>
<br>Versiunea Rom&acirc;n&atilde;:
<br>
<br />Mesajul a fost scanat de
<a href="http://www.EMFABox.info/"><b>EMFABox</b></a>, si este
considerat 
<br />a fi neinfectat.
