<br />-- 
<br />Mae'r neges hon wedi cael ei sganio 
<br />am firysau a chynnwys peryglus gan
<a href="http://www.EMFABox.info/"><b>EMFABox</b></a>, 
<br />a chredir ei bod yn lân.
<br /><i>This message has been scanned for viruses and
<br />dangerous content by
<a href="http://www.EMFABox.info/"><b>EMFABox</b></a>, and is
<br />believed to be clean.</i>
