<p align="justify"><font color='#808080' face='Arial, Helvetica, sans-serif' size='1'>
<pre>
This email has been scanned by the EMFABox eMail service.
---------------------------------------------------------
ID: $id
<br><A HREF='http://$hostname/cgi-bin/learn-msg.cgi?id=$id'>Click here to report this message as spam.</A>
<br><A HREF='http://$hostname/cgi-bin/learn-msg.cgi?blacklist=1&id=$id'>Click here to blacklist sender</A></font>
</pre>
</p>
