<p>Please scroll down for the German translation.<br /> Die deutsche Uebersetzung finden Sie im Anschluss an den englischen Text.</p>
<p>---- ENGLISH -----------</p>
<p><strong><span style="color: red; font-size: xx-small;">Warning: </span><br />This message has had one or more attachments removed ($filename).<br /> Please read the "$viruswarningname" attachment(s) for more information.</strong></p>
<p>---- DEUTSCH -----------</p>
<p><strong><span style="color: red; font-size: xx-small;">Warnung: </span><br />Diese Nachricht enthielt einen oder mehrere Dateianha(e)ng(e), welche entfernt wurden.<br /> Bitte lesen Sie den oder die "$viruswarningname" im Anhang fuer gnauere Informationen.</strong></p>
<p>&nbsp;</p>