<br />--
<br><font color="#999999" face="Arial, Helvetica, sans-serif" size="1"> Diese E-Mail wurde auf Viren und gef&auml;hrliche Anh&auml;nge
<br />durch&nbsp;<a href="http://www.emfabox.com/"><b>EMFABox</b></a>&nbsp;untersucht und ist wahrscheinlich virenfrei.
<br><A HREF="http://$hostname/cgi-bin/learn-msg.cgi?id=$id">Nachricht als Spam markieren.</A></font>
<font color='#999999' face='Arial, Helvetica, sans-serif' size='1'><br><A HREF='http://$hostname/cgi-bin/learn-msg.cgi?blacklist=1&id=$id'>Sender Blacklisten</A></font>
